:root {
  --back: black;
  --fore: white;
  --mid: #bbb;
  --select: #001986;
}

@media print {
  :root {
    --back: white;
    --fore: black;
    --mid: #444;
    --select: #0099e6;
  }
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: var(--back);
  color: var(--fore);
}

#word-count {
  position: fixed;
  right: 2em;
  bottom: 2em;
}

@media print {
  #word-count {
    display: none;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #FFF8;
  visibility: hidden;
  transition: 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-input {
  font-size: xx-large;
  background: var(--back);
  color: var(--fore);
  border: thick solid var(--back);
  resize: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-moz-selection { color: inherit; background: var(--select); }
::selection { color: inherit; background: var(--select); }