:root {
  --back: black;
  --fore: white;
  --mid: #bbb;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: var(--back);
  color: var(--fore);
}

#word-count {
  position: fixed;
  right: 2em;
  bottom: 2em;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #FFF8;
  visibility: hidden;
  transition: 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-input {
  font-size: xx-large;
  background: var(--back);
  color: var(--fore);
  border: thick solid var(--back);
  resize: none;
}