.ql-editor {
  font-size: large;
  padding-bottom: calc(100vh - 3em);
}

.ql-clipboard {
  position: fixed;
}

.ql-editor.ql-blank::before {
  color: var(--mid);
}

.ql-editor ul, .ql-editor ol {
  padding-left: 0;
}

/*
for i in range(1,10):
  print(".ql-indent-{} {{padding-left: {}em !important;}}".format(i, 1.5+i*2))
*/
.ql-indent-1 {padding-left: 3.5em !important;}
.ql-indent-2 {padding-left: 5.5em !important;}
.ql-indent-3 {padding-left: 7.5em !important;}
.ql-indent-4 {padding-left: 9.5em !important;}
.ql-indent-5 {padding-left: 11.5em !important;}
.ql-indent-6 {padding-left: 13.5em !important;}
.ql-indent-7 {padding-left: 15.5em !important;}
.ql-indent-8 {padding-left: 17.5em !important;}
.ql-indent-9 {padding-left: 19.5em !important;}